@model IEnumerable<EscuelaApp.Dominio.Dto.CourseDTO>

@{
    ViewData["Title"] = "Catálogo Cursos";
}

<!--
    Ejemplo Create
-->
@if (TempData["Mensaje"]!= null)
{
    <div class="alert @TempData["TipoMensaje"]" role="alert">
        @TempData["Mensaje"]
    </div>
}

<!--
    Ejemplo Update y Delete
-->
@if (ViewBag.Mensaje != null)
{
    <div class="alert @ViewBag.TipoMensaje" role="alert">
        @ViewBag.Mensaje
    </div>
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDepartamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
    @await Html.PartialAsync("_Fila",item)
}
    </tbody>
</table>
